In [1]:
// In Scala
// Loading data from a JDBC source using load 
val employees = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "employees")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val departments = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "departments")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val dept_emp = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "dept_emp")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val dept_manager = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "dept_manager")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val salaries = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "salaries")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val titles = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "titles")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

Intitializing Scala interpreter ...

Spark Web UI available at http://L2202035.bosonit.local:4042
SparkContext available as 'sc' (version = 3.0.3, master = local[*], app id = local-1651751509231)
SparkSession available as 'spark'

employees: org.apache.spark.sql.DataFrame = [emp_no: int, birth_date: date ... 4 more fields]
departments: org.apache.spark.sql.DataFrame = [dept_no: string, dept_name: string]
dept_emp: org.apache.spark.sql.DataFrame = [emp_no: int, dept_no: string ... 2 more fields]
dept_manager: org.apache.spark.sql.DataFrame = [emp_no: int, dept_no: string ... 2 more fields]
salaries: org.apache.spark.sql.DataFrame = [emp_no: int, salary: int ... 2 more fields]
titles: org.apache.spark.sql.DataFrame = [emp_no: int, title: string ... 2 more fields]

In [2]:
employees.show(5)

+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|
+------+----------+----------+---------+------+----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|
+------+----------+----------+---------+------+----------+
only showing top 5 rows

In [3]:
dept_emp.show(5)

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
| 10001|   d005|1986-06-26|9999-01-01|
| 10002|   d007|1996-08-03|9999-01-01|
| 10003|   d004|1995-12-03|9999-01-01|
| 10004|   d004|1986-12-01|9999-01-01|
| 10005|   d003|1989-09-12|9999-01-01|
+------+-------+----------+----------+
only showing top 5 rows

In [4]:
departments.show(5)

+-------+----------------+
|dept_no|       dept_name|
+-------+----------------+
|   d009|Customer Service|
|   d005|     Development|
|   d002|         Finance|
|   d003| Human Resources|
|   d001|       Marketing|
+-------+----------------+
only showing top 5 rows

In [5]:
salaries.show()

+------+------+----------+----------+
|emp_no|salary| from_date|   to_date|
+------+------+----------+----------+
| 10001| 60117|1986-06-26|1987-06-26|
| 10001| 62102|1987-06-26|1988-06-25|
| 10001| 66074|1988-06-25|1989-06-25|
| 10001| 66596|1989-06-25|1990-06-25|
| 10001| 66961|1990-06-25|1991-06-25|
| 10001| 71046|1991-06-25|1992-06-24|
| 10001| 74333|1992-06-24|1993-06-24|
| 10001| 75286|1993-06-24|1994-06-24|
| 10001| 75994|1994-06-24|1995-06-24|
| 10001| 76884|1995-06-24|1996-06-23|
| 10001| 80013|1996-06-23|1997-06-23|
| 10001| 81025|1997-06-23|1998-06-23|
| 10001| 81097|1998-06-23|1999-06-23|
| 10001| 84917|1999-06-23|2000-06-22|
| 10001| 85112|2000-06-22|2001-06-22|
| 10001| 85097|2001-06-22|2002-06-22|
| 10001| 88958|2002-06-22|9999-01-01|
| 10002| 65828|1996-08-03|1997-08-03|
| 10002| 65909|1997-08-03|1998-08-03|
| 10002| 67534|1998-08-03|1999-08-03|
+------+------+----------+----------+
only showing top 20 rows

In [6]:
dept_manager.show(5)

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
|110022|   d001|1985-01-01|1991-10-01|
|110039|   d001|1991-10-01|9999-01-01|
|110085|   d002|1985-01-01|1989-12-17|
|110114|   d002|1989-12-17|9999-01-01|
|110183|   d003|1985-01-01|1992-03-21|
+------+-------+----------+----------+
only showing top 5 rows

In [7]:
titles.show(5)

+------+---------------+----------+----------+
|emp_no|          title| from_date|   to_date|
+------+---------------+----------+----------+
| 10001|Senior Engineer|1986-06-26|9999-01-01|
| 10002|          Staff|1996-08-03|9999-01-01|
| 10003|Senior Engineer|1995-12-03|9999-01-01|
| 10004|       Engineer|1986-12-01|1995-12-01|
| 10004|Senior Engineer|1995-12-01|9999-01-01|
+------+---------------+----------+----------+
only showing top 5 rows

In [12]:
employees.join(
airport.as('air'), //Una forma de llamar a las columnas. Hay que importar implicits
$"air.IATA" === $"origin"
).select("*").show()

In [34]:
import org.apache.spark.sql.functions._
val salaries_avg = salaries
.groupBy("emp_no").agg(sum("salary").alias("salario_medio"))
.orderBy("emp_no")
val dept_emp_date = dept_emp
                .groupBy("emp_no").agg(max("to_date").alias("max_to_date"))
                .orderBy("emp_no")
val dept_emp_sal = salaries_avg.join(dept_emp_date, "emp_no").orderBy("emp_no")

val dept_empl_sal = dept_emp_sal.join(employees, "emp_no").orderBy("emp_no")

val emp_dep_todo = dept_empl_sal.join(dept_emp, dept_empl_sal("emp_no") === dept_emp("emp_no") && dept_empl_sal("max_to_date") === dept_emp("to_date"))

val emp_todo = emp_dep_todo.join(departments, emp_dep_todo("dept_no") === departments("dept_no"))

emp_todo.show(15)

+------+-------------+-----------+----------+----------+-----------+------+----------+------+-------+----------+----------+
|emp_no|salario_medio|max_to_date|birth_date|first_name|  last_name|gender| hire_date|emp_no|dept_no| from_date|   to_date|
+------+-------------+-----------+----------+----------+-----------+------+----------+------+-------+----------+----------+
| 10103|       370354| 9999-01-01|1953-11-26|     Akemi|      Birch|     M|1986-12-02| 10103|   d005|1998-01-12|9999-01-01|
| 10198|       978214| 9999-01-01|1953-05-28|    Pranav|     Furedi|     M|1985-08-31| 10198|   d005|1985-08-31|9999-01-01|
| 10235|       410641| 9999-01-01|1958-03-27|   Susanta|   Roccetti|     F|1995-04-06| 10235|   d004|1995-04-06|9999-01-01|
| 10294|        66448| 1999-05-04|1955-01-05|    Rutger|      Miara|     M|1996-04-08| 10294|   d005|1999-01-30|1999-05-04|
| 10722|       945354| 2000-04-14|1960-10-03|      Dung|     Gornas|     M|1989-01-17| 10722|   d001|1989-01-17|2000-04-14|
| 10734|       383989| 9999-01-01|1954-07-06|    Sachar|       Erdi|     M|1985-04-03| 10734|   d004|1995-12-19|9999-01-01|
| 11045|       657069| 1996-09-29|1957-04-28|   Chikako|  Schueller|     F|1985-08-09| 11045|   d004|1985-08-09|1996-09-29|
| 11405|       535474| 9999-01-01|1960-09-22|     Clyde|    Kobuchi|     F|1993-04-14| 11405|   d005|1993-04-14|9999-01-01|
| 11515|       289137| 9999-01-01|1955-03-03|       Ulf|     Basawa|     F|1986-02-27| 11515|   d007|1998-09-21|9999-01-01|
| 11579|       326207| 9999-01-01|1962-06-01|     Jinxi|      Merel|     F|1988-04-25| 11579|   d007|1997-05-25|9999-01-01|
| 12529|       670696| 9999-01-01|1960-04-28|      Mang|      Anido|     M|1987-01-17| 12529|   d009|1989-11-09|9999-01-01|
| 12665|       213144| 1997-12-14|1954-03-09|  Amalendu|   Lanphier|     M|1994-01-12| 12665|   d002|1995-06-01|1997-12-14|
| 12689|       716607| 9999-01-01|1953-01-19|   Luerbio|Boudaillier|     M|1987-04-12| 12689|   d005|1992-11-23|9999-01-01|
| 12715|       298003| 9999-01-01|1955-12-31|   Honglan|  Showalter|     M|1991-07-31| 12715|   d002|1996-07-05|9999-01-01|
| 12854|       795339| 9999-01-01|1957-06-25|     Xumin|   Siepmann|     M|1990-10-20| 12854|   d003|1991-02-22|9999-01-01|
+------+-------------+-----------+----------+----------+-----------+------+----------+------+-------+----------+----------+
only showing top 15 rows

import org.apache.spark.sql.functions._
salaries_avg: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [emp_no: int, salario_medio: bigint]
dept_emp_date: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [emp_no: int, max_to_date: date]
dept_emp_sal: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [emp_no: int, salario_medio: bigint ... 1 more field]
dept_empl_sal: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [emp_no: int, salario_medio: bigint ... 6 more fields]
emp_dep_todo: org.apache.spark.sql.DataFrame = [emp_no: int, salario_medio: bigint ... 10 more fields]
emp_todo: org.apache.spark.sql.DataFrame = [emp_no: int, salario_medio: bigint ... 12 more fields]