In [8]:
// In Scala
// Loading data from a JDBC source using load 
val employees = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "employees")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val departments = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "departments")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val dept_emp = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "dept_emp")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val dept_manager = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "dept_manager")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val salaries = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "salaries")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

val titles = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.cj.jdbc.Driver")
 .option("dbtable", "titles")
 .option("user", "root")
 .option("password", "2M6FHxqa!")
 .load()

employees: org.apache.spark.sql.DataFrame = [emp_no: int, birth_date: date ... 4 more fields]
departments: org.apache.spark.sql.DataFrame = [dept_no: string, dept_name: string]
dept_emp: org.apache.spark.sql.DataFrame = [emp_no: int, dept_no: string ... 2 more fields]
dept_manager: org.apache.spark.sql.DataFrame = [emp_no: int, dept_no: string ... 2 more fields]
salaries: org.apache.spark.sql.DataFrame = [emp_no: int, salary: int ... 2 more fields]
titles: org.apache.spark.sql.DataFrame = [emp_no: int, title: string ... 2 more fields]

In [10]:
employees.show(5)

+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|
+------+----------+----------+---------+------+----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|
+------+----------+----------+---------+------+----------+
only showing top 5 rows

In [11]:
dept_emp.show(5)

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
| 10001|   d005|1986-06-26|9999-01-01|
| 10002|   d007|1996-08-03|9999-01-01|
| 10003|   d004|1995-12-03|9999-01-01|
| 10004|   d004|1986-12-01|9999-01-01|
| 10005|   d003|1989-09-12|9999-01-01|
+------+-------+----------+----------+
only showing top 5 rows

In [12]:
departments.show(5)

+-------+----------------+
|dept_no|       dept_name|
+-------+----------------+
|   d009|Customer Service|
|   d005|     Development|
|   d002|         Finance|
|   d003| Human Resources|
|   d001|       Marketing|
+-------+----------------+
only showing top 5 rows

In [13]:
salaries.show()

+------+------+----------+----------+
|emp_no|salary| from_date|   to_date|
+------+------+----------+----------+
| 10001| 60117|1986-06-26|1987-06-26|
| 10001| 62102|1987-06-26|1988-06-25|
| 10001| 66074|1988-06-25|1989-06-25|
| 10001| 66596|1989-06-25|1990-06-25|
| 10001| 66961|1990-06-25|1991-06-25|
| 10001| 71046|1991-06-25|1992-06-24|
| 10001| 74333|1992-06-24|1993-06-24|
| 10001| 75286|1993-06-24|1994-06-24|
| 10001| 75994|1994-06-24|1995-06-24|
| 10001| 76884|1995-06-24|1996-06-23|
| 10001| 80013|1996-06-23|1997-06-23|
| 10001| 81025|1997-06-23|1998-06-23|
| 10001| 81097|1998-06-23|1999-06-23|
| 10001| 84917|1999-06-23|2000-06-22|
| 10001| 85112|2000-06-22|2001-06-22|
| 10001| 85097|2001-06-22|2002-06-22|
| 10001| 88958|2002-06-22|9999-01-01|
| 10002| 65828|1996-08-03|1997-08-03|
| 10002| 65909|1997-08-03|1998-08-03|
| 10002| 67534|1998-08-03|1999-08-03|
+------+------+----------+----------+
only showing top 20 rows

In [14]:
dept_manager.show(5)

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
|110022|   d001|1985-01-01|1991-10-01|
|110039|   d001|1991-10-01|9999-01-01|
|110085|   d002|1985-01-01|1989-12-17|
|110114|   d002|1989-12-17|9999-01-01|
|110183|   d003|1985-01-01|1992-03-21|
+------+-------+----------+----------+
only showing top 5 rows

In [15]:
titles.show(5)

+------+---------------+----------+----------+
|emp_no|          title| from_date|   to_date|
+------+---------------+----------+----------+
| 10001|Senior Engineer|1986-06-26|9999-01-01|
| 10002|          Staff|1996-08-03|9999-01-01|
| 10003|Senior Engineer|1995-12-03|9999-01-01|
| 10004|       Engineer|1986-12-01|1995-12-01|
| 10004|Senior Engineer|1995-12-01|9999-01-01|
+------+---------------+----------+----------+
only showing top 5 rows

In [20]:
employees.join(
 airport.as('air),
 $"air.IATA" === $"origin"
).select("*").show()